:root {
  --clr-primary: 59, 130, 246;
  --clr-primary-hover: 51, 124, 245;
  --clr-primary-active: 29 112 248;
  --clr-primary-disabled: 85, 144, 241;
  --clr-secondary: 255, 255, 255;
  --clr-secondary-hover: 245 245 245;
  --clr-secondary-active: 235 235 235;
  --clr-type-black: 17, 24, 39;
  --clr-type-gray: 107, 114, 128;
  --clr-type-red: 245, 0, 0;
  --clr-type-yellow: 247, 198, 0;
  --clr-type-green: 38, 162, 18;
  --clr-bg-primary: 243, 244, 246;
  --clr-bg-secondary: 255, 255, 255;
  --clr-bg-thead: 247, 248, 249;
  --clr-bg-modal: 0, 0, 0, 0.2;
  --clr-border-black: 107, 114, 128;
  --clr-border-white: 229, 231, 235;
  --clr-scroll: 193, 193, 193;
  --clr-scroll-hover: 173, 173, 173;
  --clr-scroll-active: 153, 153, 153;

  --gradient-bg-login-img: linear-gradient(180deg, #e91e63, #03a9f4);

  --sz-sm: 14px;
  --sz-md: 18px;
  --sz-lg: 24px;
  --sz-xl: 30px;

  --lnh-sm: 20px;
  --lnh-md: 24px;
  --lnh-description: 28px;
  --lnh-lg: 32px;
  --lnh-xl: 36px;

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --transition-default: all .1s ease-in-out;

  --border-primary: solid 1px rgb(var(--clr-border-black));
  --border-secondary: solid 1px rgb(var(--clr-border-white));

  --r-sm: 4px;
  --r-md: 8px;
  --r-lg: 12px;

  --p-sm: 8px 12px;
  --p-md: 10px 16px;
  --p-lg: 12px 20px;
  --p-icon-sm: 8px;
  --p-icon-md: 10px;
  --p-icon-lg: 12px;
  --p-top-main: 80px;
  --p-bottom-main: 72px;
  --p-top-main-mobile: 124px;
  --p-top-main-mobile-tiny: 160px;

  --w-navbar: 68px;
  --w-navbar-expanded: 268px;
  --w-modal: 550px;
  --w-skeleton: 55%;
  --w-filter: 152px;
  --w-filter-mobile: 100px;

  --h-max-modal: calc(100vh - 30%);

  --z-index-filter-dropdown: 1;
  --z-index-header: 2;
  --z-index-navbar: 3;
  --z-index-modal: 4;
  --z-index-suggestions: 5;
}
