.container {
  margin-top: var(--p-top-main);

  @media (max-width: 508px) {
    margin-top: var(--p-top-main-mobile);
    margin-bottom: var(--p-bottom-main);
  }

  @media (max-width: 263px) {
    margin-top: var(--p-top-main-mobile-tiny);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .top {
      display: flex;
      justify-content: flex-end;

      .back_btn {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;

      div {
        min-width: fit-content;
        flex: 1;
      }
    }
  }
}
