.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--clr-bg-modal));
  z-index: var(--z-index-modal);
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    position: relative;
    width: var(--w-modal);
    max-height: var(--h-max-modal);
    overflow-y: auto;
    background-color: rgb(var(--clr-bg-secondary));
    padding: 16px 20px;
    border: var(--border-secondary);
    border-radius: var(--r-md);

    .top {
      text-align: center;
      font-size: var(--sz-lg);
      line-height: var(--lnh-lg);
      font-weight: var(--font-medium);

      .close {
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }

    .body {
      font-size: var(--sz-md);
      line-height: var(--lnh-md);
      text-align: justify;
    }
  }
}
