.content {
  width: 100%;
  background-color: rgb(var(--clr-secondary));
  border-radius: var(--r-md);
  padding: 20px;
  border: var(--border-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    font-size: var(--sz-md);
    line-height: var(--lnh-md);
    color: rgb(var(--clr-type-gray));
    font-weight: var(--font-medium);
  }

  .skeleton {
    height: var(--lnh-xl);
    margin-top: 18px;
    width: var(--w-skeleton);
  }

  .value {
    font-size: var(--sz-xl);
    line-height: var(--lnh-xl);
    font-weight: var(--font-medium);
  }
}
