.button {
  width: 100%;
  transition: var(--transition-default);
}

.sm {
  font-size: var(--sz-sm);
  line-height: var(--lnh-sm);
  padding: var(--p-sm);
  border-radius: var(--r-sm);
}

.md {
  font-size: var(--sz-md);
  line-height: var(--lnh-md);
  padding: var(--p-md);
  border-radius: var(--r-md);
}

.lg {
  font-size: var(--sz-lg);
  line-height: var(--lnh-lg);
  padding: var(--p-);
  border-radius: var(--r-lg);
}

.primary {
  background-color: rgb(var(--clr-primary));
  color: rgb(var(--clr-secondary));

  &:hover {
    background-color: rgb(var(--clr-primary-hover));
  }

  &:active {
    background-color: rgb(var(--clr-primary-active));
  }
}

.secondary {
  background-color: rgb(var(--clr-secondary));
  color: rgb(var(--clr-type-black));
  border: var(--border-primary);

  &:hover {
    background-color: rgb(var(--clr-secondary-hover));
  }

  &:active {
    background-color: rgb(var(--clr-secondary-active));
  }
}

.ghost {
  background-color: rgb(var(--clr-secondary));
  color: rgb(var(--clr-type-black));

  &:hover {
    background-color: rgb(var(--clr-secondary-hover));
  }

  &:active {
    background-color: rgb(var(--clr-secondary-active));
  }
}

.link {
  background-color: rgb(var(--clr-secondary));
  color: rgb(var(--clr-type-black));

  &:hover {
    text-decoration: underline;
  }
}

.icon-primary {
  width: fit-content;
  background-color: rgb(var(--clr-primary));
  color: rgb(var(--clr-secondary));

  &:hover {
    background-color: rgb(var(--clr-primary-hover));
  }

  &:active {
    background-color: rgb(var(--clr-primary-active));
  }
}

.icon {
  width: fit-content;

  &:hover {
    background-color: rgb(var(--clr-secondary-hover));
  }

  &:active {
    background-color: rgb(var(--clr-secondary-active));
  }
}

.icon-primary, .icon {
  &.sm {
    padding: var(--p-icon-sm);
  }

  &.md {
    padding: var(--p-icon-md);
  }

  &.lg {
    padding: var(--p-icon-lg);
  }
}
