.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background-color: rgba(var(--clr-bg-modal));
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .content {
    position: relative;
    width: var(--w-modal);
    background-color: rgb(var(--clr-bg-secondary));
    padding: 20px;
    border: var(--border-secondary);
    border-radius: var(--r-md);
    max-height: var(--h-max-modal);
    overflow-y: auto;

    .top {
      text-align: center;
      font-size: var(--sz-lg);
      line-height: var(--lnh-lg);
      font-weight: var(--font-semibold);
      margin-bottom: 16px;

      .close {
        position: absolute;
        width: fit-content;
        top: 12px;
        right: 12px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      input {
        font-size: var(--sz-md);
        line-height: var(--lnh-md);
      }

      label {
        width: 100%;
      }

      .bottomLabels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
      }

      .bottomInputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        .bottomInput {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;

          .suggestions {
            top: 44px;
            width: 48.9%;
            max-height: 150px;
            position: absolute;
            border-radius: var(--r-sm);
            z-index: var(--z-index-suggestions);
            border: var(--border-secondary);
            overflow-y: auto;

            &.more {
              width: 48.9% - 4.2%;
            }

            li {
              width: 100%;
              background-color: rgb(var(--clr-bg-secondary));
              cursor: pointer;
              padding: var(--p-sm);

              &:hover {
                background-color: rgb(var(--clr-secondary-hover));
              }

              &:active {
                background-color: rgb(var(--clr-secondary-active));
              }
            }
          }
        }

        .removeBtn {
          color: rgb(var(--clr-type-red));
        }

        .addBtn {
          align-self: flex-start;
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }

      .textarea {
        max-height: 200px;
        min-height: 42px;
        font-size: var(--sz-md);
        line-height: var(--lnh-md);
      }
    }
  }
}
