.container {
  background-color: rgb(var(--clr-bg-secondary));
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 12px;
    border-bottom: var(--border-secondary);

    .buttons {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
