.container {
  background-color: rgb(var(--clr-bg-secondary));
  position: fixed;
  width: calc(100% - var(--w-navbar));
  top: 0;
  right: 0;
  z-index: var(--z-index-header);

  &.expanded {
    width: calc(100% - var(--w-navbar-expanded));
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: var(--border-secondary);

    .buttons {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
