.container {
  background-color: rgb(var(--clr-bg-secondary));
  border-right: var(--border-secondary);
  z-index: var(--z-index-navbar);
  position: fixed;

  .content {
    width: fit-content;
    height: 100vh;

    &.expanded {
      width: var(--w-navbar-expanded);
    }

    .top {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px;
      border-bottom: var(--border-secondary);

      .logo {
        font-size: var(--sz-md);
        line-height: var(--lnh-md);
        font-weight: var(--font-bold);
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 92%;
      padding: 12px;

      .li {
        .btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 12px;

          &.logout {
            color: rgb(var(--clr-type-red));
          }
        }
      }
    }
  }
}
