.content {
  background-color: rgb(var(--clr-secondary));
  padding: 12px 20px;
  border: var(--border-secondary);
  border-radius: var(--r-md);

  .top {
    text-align: center;
    font-size: var(--sz-lg);
    line-height: var(--lnh-lg);
    font-weight: var(--font-semibold);
    border-bottom: var(--border-secondary);
    padding-bottom: 12px;
  }

  .main {
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap-reverse;

    .left, .right {
      display: flex;
      max-width: 100%;
      align-items: center;
      justify-content: center;
      gap: 12px;
      flex: 1;

      .left_inner {
        min-width: 60px;

        p {
          font-size: var(--sz-md);
          line-height: var(--lnh-md);
        }
      }

      .right_inner {
        width: 250px;
        display: flex;
        flex-direction: column;

        .skeleton {
          width: var(--w-skeleton);
          height: var(--sz-md);
        }

        p {
          font-size: var(--sz-md);
          line-height: var(--lnh-md);
          font-weight: var(--font-medium);
        }

        .empty {
          color: rgb(var(--clr-type-gray));
          font-weight: var(--font-normal);
        }

        .readMore {
          color: rgb(var(--clr-primary));
          font-size: var(--sz-sm);
          line-height: var(--lnh-sm);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
