.content {
  display: flex;
  position: relative;

  .main {
    width: 100%;
    min-height: 100vh;
    padding-left: 68px;

    @media (max-width: 768px) {
      padding-left: 0;
    }

    &.expanded {
      padding-left: calc(var(--w-navbar-expanded) + 1px);

      @media (max-width: 768px) {
        padding-left: 0;
      }
    }
  }
}
