.content {
  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;

    p {
      align-self: center;
      font-size: var(--sz-lg);
      font-weight: var(--font-semibold);
    }

    label {
      width: 250px;
    }
  }

  .table_wrapper {
    overflow: hidden;
    border-radius: var(--r-md);
    border: var(--border-secondary);
    background-color: rgb(var(--clr-secondary));
  }

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
